# APP
PORT=3000
COMPOSE_PROJECT_NAME=cinego
ENCRYPTION_KEY=some_32_length_string_that_is_had_to_guess
INITIATION_VECTOR=some_16_length_string_that_is_also_hard_to_guess
BASE_URL=''

# DATABASE
MONGO_URL=https://mongoURL
DATABASE_NAME=cinego
POSTGRES_HOST=your_postgres_host
POSTGRES_PORT=your_postgres_port
POSTGRES_USER=your_postgres_user
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DB=your_postgres_db
POSTGRES_SSL=

# JWT
JWT_SECRET=your_jwt_secret
JWT_EXPIRES_IN=1h

# FLUTTERWAVE
FLUTTERWAVE_SECRET_KEY=your_flutterwave_secret_key
FLUTTERWAVE_ENCRYPTION_KEY=your_flutterwave_encryption_key

# ALLRITES
ALLRITES_API_KEY=your_allrites_api_key

# FLUTTERWAVE
FLUTTERWAVE_WEBHOOK_HASH=flutterwave001

# ONESIGNAL
ONESIGNAL_APP_ID=your_onesignal_app_id
ONESIGNAL_API_KEY=your_onesignal_api_key
ONESIGNAL_BASE_URL=

# Frontend
FRONTEND_URL=
FRONTEND_ADMIN_URL=

# AWS
AWS_ACCESS_KEY_ID=...    
AWS_SECRET_ACCESS_KEY=...
AWS_REGION=your-region
AWS_ROLE_ARN=
AWS_BUCKET_NAME=
AWS_CF_DOMAIN=
AWS_CF_KEY_PAIR_ID=


PRIVATE_KEY=
PRIVATE_KEY_PATH=

AGORA_APP_ID=
AGORA_APP_CERTIFICATE=


ADMIN_USER_EMAIL=
ADMIN_USER_PASSWORD=